body{
    background-color:rgb(233, 233, 224);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;    
    border: 1px solid rgb(196, 198, 196); 
    
  }
  .left{
    display: flex;
    justify-content:left;
    padding-right: 100px;
    font-size: large;
  }

  .button-design{
    background-color: rgb(54, 135, 179);
    font-size: large;
  }

  .Report{
    border-color: blueviolet;
    border-width: 3px;    
    padding: 25px;
    background-color: rgb(140, 233, 233);    
}

.principal-sign{
  float: right;
}

.parent-sign{
padding-left: 150px;
}

.marksheet-link1{
  font-size: large;
  text-align: center;
  float:right;

}